body {
    background-color: purple;
}
p {
    border: 2px solid powderblue;
  }

div {
    color: yellow;
}

.alert-text {
    color: red;
}
/* the class attribute is to 
add multiple classes to a single element as a space-separated list
Ill figure out how what works later
.alert-text severe-alert{
    color: red;
}
*/

/* an element can only have one ID */
#title { 
  background-color: red;
}

.read, /* how to combine several things that hold the same base elements */
.unread {
  color: white;
  background-color: black;
}

.read {
  /* several unique declarations */
  font-size: 150%;
}

.unread {
  /* several unique declarations */
  font-size: 16px;
}

.subsection.header { /* Changing a combination of selectors */
    color: blueviolet;
  }
.subsection#preview {
    color: pink;
}
